.heart {
    font-size: 25px;
    position: absolute;
    left: 80%;
    margin-top: 23px;
}

.fa-heart:hover::after {
    font-weight: 600;
    cursor: pointer;
    transition: transform .4s ease;
    position: absolute;
    z-index: -2;
    transform: scale(1);
    background: -webkit-linear-gradient(bottom left, #ff79da, #9356dc); 
}

.arrow {
    font-size: 20px;
    padding: 3px 75px 0px 23px;
    color: $primary-color;
}