.heart {
    font-size: 25px;
    position: absolute;
    left: 80%;
    margin-top: 23px;
}

.heart-c .fa-heart:hover {
    cursor: pointer;
    transition: all 3s cubic-bezier(0.2, 1.11, 0.53, 0.99);
    background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;

}

.arrow {
    font-size: 20px;
    position: absolute;
    right: 95%;
    left: 24px;
    top: 17px;
    color: $primary-color;
}