.police {
    font-family: "Shrikhand";
    font-weight: 400px;
    font-size: 28px;
}


.position {
    margin-left: 13px;
    background: #F7F7F7;
    border-radius: 40px 40px 0px 0px;


    &__heading {
        display: flex;
        flex-direction: row;

    }

    &__border {
        border-radius: 40px 40px 0px 0px;
    }

    &__police {
            font-family: "Shrikhand";
            font-weight: 400px;
            font-size: 28px;
            color: #101010;
    }
}
