.tutorial {
    padding-left: 20px;
    padding-top: 28.08px;
    height: 420px;
    background: $white-color;
    @include responsive (medium) {
        height: 232px;
    }
    
    
        &__all {
            @include responsive (medium) {
            display: flex;
            flex-direction: row;
        }
        }
        &__position {
            position: relative;
            flex-direction: row;
            display: flex;
            margin-bottom: 24px;
            height: 72px;
            width: 100%;
        }

        &__button {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            left: 20px;
            position: absolute;
            width: 86%;
            height: 72px;
            border-radius: 20px;
            @include position;
            background: #f6f6f6
        }

        &__button:hover {
            background: #F5EDFF;
        }

        &__icon {
            color: #7E7E7E;
            padding-right: 27px;
        }
            
        &__icon:hover {
            color: #9356DC
        }

        &__bubble {
            @include border;
        }

        &__bubble-position {
            font-weight: 500;
            margin-left: 4px;
            margin-top: 25px;
            width: 15.27px;
            height: 14.55px;
        }
        
}
