.header {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header__shadow {
  width: 100%;
  box-shadow: 0 10px 10px -10px #B5B5B5;
  position: relative;
}
.header__loca {
  padding-right: 17px;
}
.header__head {
  background-color: #EAEAEA;
  width: 100%;
  padding-top: 6px;
}
.header__logo {
  width: 162px;
  margin-bottom: 5px;
}
.header__fleche {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.header .img {
  width: 100%;
}

.heart {
  font-size: 25px;
  position: absolute;
  left: 80%;
  margin-top: 23px;
}

.fa-heart:hover::after {
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.4s ease;
  position: absolute;
  z-index: -2;
  transform: scale(1);
  background: -webkit-linear-gradient(bottom left, #ff79da, #9356dc);
}

.arrow {
  font-size: 20px;
  padding: 3px 75px 0px 23px;
  color: #353535;
}

.cards {
  background: #FFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15PX;
}
.cards__box-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cards__new {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  width: 80px;
  text-align: center;
  color: #008766;
  padding-top: 7px;
  padding-bottom: 6px;
}
.cards__box {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background: #99E2D0;
  margin-right: 14px;
  margin-top: 10px;
}
.cards__img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font: 100% "roboto";
  margin: auto;
  background: #F6F6F6;
}

h1 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

h2 {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

h4 {
  font-family: "Shrikhand";
  color: #FFF;
  margin-left: 25px;
  margin-bottom: 16px;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  padding-right: 38px;
}

h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-left: 13px;
}

p {
  font-weight: 300;
  font-size: 17px;
  margin-left: 13px;
  margin-top: 5px;
}

.restaurant {
  margin: 54px 20px 0px 20px;
}

a {
  text-decoration: none;
}

nav ul {
  color: #FFF;
  padding-left: 25px;
  margin-top: 0px;
}
nav li {
  list-style: none;
  margin-bottom: 7px;
}

.footer {
  background: #353535;
  list-style: none;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.footer__iconf {
  padding-right: 11px;
  font-size: 11px;
}
.footer__iconf2 {
  padding-right: 5px;
  font-size: 11px;
}
.footer__end {
  font-weight: 400;
  font-size: 16px;
  font: "regular";
}

.tutorial {
  padding-left: 20px;
  padding-top: 28.08px;
  height: 420px;
  background: #FFF;
}
.tutorial__position {
  position: relative;
  flex-direction: row;
  display: flex;
  z-index: 1;
  margin-bottom: 24px;
  height: 72px;
}
.tutorial__button {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  left: 20px;
  position: absolute;
  z-index: 2;
  width: 86%;
  height: 72px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tutorial__button:hover {
  background: #F5EDFF;
}
.tutorial__icon {
  color: #7E7E7E;
  padding-right: 27px;
}
.tutorial__icon:hover {
  color: #9356DC;
}
.tutorial__bubble {
  border-radius: 25px;
  background-color: #9356DC;
  text-align: center;
  color: #FFF;
  padding: 5px 5px;
  z-index: 3;
  font-size: 14px;
}
.tutorial__bubble-position {
  font-weight: 500;
  margin-left: 4px;
  margin-top: 25px;
  width: 15.27px;
  height: 14.55px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.heading__button {
  margin-bottom: 57px;
  margin-top: 27px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #FFF;
  font-size: 16px;
  padding: 4% 5.5%;
  border: 0px;
}
.heading__button--white {
  color: #FFF;
}

.police {
  font-family: "Shrikhand";
  font-weight: 400px;
  font-size: 28px;
}

.position {
  margin-left: 13px;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
}
.position__heading {
  display: flex;
  flex-direction: row;
}
.position__border {
  border-radius: 40px 40px 0px 0px;
}
.position__police {
  font-family: "Shrikhand";
  font-weight: 400px;
  font-size: 28px;
  color: #101010;
}

.plats {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
}
.plats__case {
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  margin-bottom: 12px;
  padding-left: 11px;
  height: 68px;
}
.plats h3 {
  border-bottom: 3px solid #99E2D0;
  width: 42px;
  font-size: 16px;
  font-weight: 300;
}
.plats h5 {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 12px;
}
.plats__intitulate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  padding-top: 5px;
}
.plats__price {
  font-weight: bold;
  padding-right: 17px;
  font-size: 15px;
  color: #353535;
}
.plats__overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.plats__checkbox:hover {
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  width: 59px;
  position: relative;
  text-align: center;
  padding-top: 25px;
  height: 43px;
  bottom: 39px;
  cursor: pointer;
}
.plats__check {
  color: #FFF;
  font-size: 20px;
}

.commande {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.commande__button {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  width: 60%;
  height: 50px;
  margin-top: 27px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  color: #FFF;
  font-size: 16px;
  padding: 4% 5.5%;
  border: 0px;
}
.commande__button--white {
  color: #FFF;
}/*# sourceMappingURL=main.css.map */