body {
    font: 100% $font-stack;
    margin: auto;
    background: $body-color;
    @include responsive (medium) {
        background: #fff;
    }
}

h1 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: $primary-color;
}

h2 {
    color: $black-color;
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-weight: 300;
}

h4 {
    font-family: $font-family;
    color: $white-color;
    margin-left: 25px;
    margin-bottom: 16px;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    @include responsive (medium) {
        margin-right: 90px;
        margin-top: 49px;
    }
}

h5 {
    font-size: 16px;
    font-weight: 500;
    padding-right: 38px;
}

h6 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 16px;
    margin-left: 13px;
}

p {
    font-weight: 300;
    font-size: 17px;
    margin-left: 13px;
    margin-top: 5px;
}

.restaurant {
    padding: 54px 20px 0px 20px;
    background-color: #F6F6F6;
    height: 635px;
}

a {
    text-decoration: none;
}

