body {
    margin-left: 0px;
    margin-right: 0px;
}
.logo {
    width: 13%;
    margin-bottom: 5px;
    height: 44px;
}

.header {
    margin-bottom: 5px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'roboto';
    font-size: 16px;
    color: blue;
}

.head {
    display: flex;
    justify-content: center;
    background-color:#EAEAEA;
    width: 100%;
}

.icon-loca {
    padding-right: 17px;
}