.header {
    padding-top: 14px;
    @include position;

        &__shadow{
             @include shadowh;
        }
        
        &__loca {
            padding-right: 17px;
        }

        &__head {
            background-color:$head-color;
            width: 100%;
            padding-top: 6px;
        }

        &__logo {
        width: 162px;
        margin-bottom: 5px;
        }
}

.header-menu {
    padding-top: 14px;
    @include position;
 
        
        &__fleche {
            display: flex;
            flex-direction: row;
        }

        &__logo {
            width: 162px;
            margin-bottom: 5px;
        }

        &__img {
            width: 100%;
            height: 275px;
            object-fit: cover;
        }
        
}

