.header {
    margin-top: 14px;
    @include position;

        &__shadow{
             @include shadowh;
        }
        
        &__loca {
            padding-right: 17px;
        }

        &__head {
            background-color:$head-color;
            width: 100%;
            padding-top: 6px;
        }

        &__logo {
        width: 162px;
        margin-bottom: 5px;
        }

        &__fleche {
        display: flex;
        flex-direction: row;
        width: 100%;
        }
    
.img {
    width: 100%;
}
}

