.header {
    margin-top: 14px;
    @include position;

        &__shadow{
             @include shadowh;
        }

        &__head {
            background-color:$head-color;
            width: 100%;
            padding-top: 6px;
        }

        &__logo {
        width: 162px;
        margin-bottom: 5px;
        }   

}
