@use './variables'

@mixin position ($position:#F6F6F6) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@mixin for-phone {
    @media (max-width: 768px) {@content ; }
}